<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a Course</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div id="container-delete">
        <h2>Are you sure you want to delete the following course ?</h2>
        <p>Name: {{this_course.name}}</p>
        <p id="margin">Description: {{this_course.description.content}}</p>
        <br>
        <a href="/"><button type="button" class="btn btn-secondary btn-sm">No</button></a>


        <form id="form-alignment" action="/delete/{{this_course.id}}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Yes! I want to delete this</button>
        </form>

    </div>
</body>
</html>