* {
    margin: 0px;
    padding: 0;
    outline:0px;
}
#wrapper {
    width: 970px;
    height: 700px;
    margin: 20px auto;
    padding-top: 30px;
    border: 1px solid red;
}
#wrapper .header {
    margin-left: 100px;
}
.create_form {
    width: 400px;
    height: 400px;
    display: inline-block;
    vertical-align:top;
    padding-top: 35px;
    padding-left: 20px;
}

.table_div {
    width: 400px;
    height: 434px;
    display: inline-block;
    padding-left: 50px;
    margin-left: 50px;
    box-sizing: border-box;
    overflow: scroll;
}
#label_2 {
    vertical-align:top;
    
}
#input_adjustment{
    height: 25px;
    margin: 0px 0px 20px 45px;
    border: 2px solid black;
}
.create_form .input-adj {
    height: 25px;
}
.create_form textarea {
    border: 2px solid black;
}
.create_form button{
    margin-left: 79px;
    margin-top: 15px;
    margin-bottom: 50px;
    border: 2px solid black;
    padding:3px;
}
.table_div table {
    width: 220px;
    height: 236px;
    border: 1px solid black;
    border-collapse: collapse;
    box-sizing: border-box;
}
th, tr , td{
    border-right: 1px solid black;
    padding: 5px;
}
#authors_form input {
    margin: 0px 0px 20px 0px;
    border: 2px solid black;
}
#authors_form textarea {
    margin-left: 33px;
}
.table_div #Dark_Grey {
    background-color: rgb(171, 166, 166);
}
.table_shades:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

.container .main-content{
    margin: 70px 70px;
}
.main-content p {
    margin: 30px 0px;
}
.spacing {
    height: 120px;
}
.list-aligner {
    margin-left: 50px;
}
.select_label {
    display: block;
}
.select-aligner, .select_label {
    margin-left: 65px;
}
.select-aligner {
    padding: 5px;
    border: 2px solid black;
}
.adding-form button {
    padding: 6px;
    border: 2px solid black;
}